body {
  margin: 0;
  padding: 10px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 350px;
  text-align: right;
}

#input-el {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid blueviolet;
  color: darkslategrey;
}

button {
  background: blueviolet;
  color: white;
  font-size: 11px;
  padding: 8px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  margin: 6px 0px 0px 2px;
  font-weight: bolder;
  width: 22%;
}

#clear-btn {
  background: white;
  color: blueviolet;
}

#tab-btn {
  background: rgb(72, 7, 133);
  border: 1px solid rgb(72, 7, 133);
}

/*list items*/
form {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

form a {
  color: blueviolet;
  text-decoration: none;
}

input[type="checkbox"] {
  position: absolute;
  margin-top: 6px;
}

input[type="checkbox"] ~ label {
  padding-left: 1.7em;
  display: inline-block;
  margin-top: 6px;
}

::selection {
  color: white;
  background: rgb(18, 202, 33);
}
