body {
  margin: 0;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 350px;
  max-width: 350px;
  text-align: right;
}

::selection {
  color: white;
  background: rgb(18, 202, 33);
}

/* top bar */
#top-bar {
  background:linear-gradient(to bottom,rgb(170, 252, 225),white);;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 10px;
  color: rgb(72, 7, 133);
}
#logo {
  width: 10%;
  margin-right: 8px;
}

#title {
  background: linear-gradient(to right, green,blue);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#sign-in-button {
  background-color:black;
  color: rgb(185, 255, 232);
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

/* mid section*/
#mid-section {
  padding: 0px 10px;
}

#input-el {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid blueviolet;
  color: darkslategrey;
}

button {
  background: blueviolet;
  color: white;
  font-size: 11px;
  padding: 8px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  margin: 6px 0px 0px 2px;
  font-weight: bolder;
  width: 22%;
}

#clear-btn {
  background: white;
  color: blueviolet;
}

#tab-btn {
  background: rgb(72, 7, 133);
  border: 1px solid rgb(72, 7, 133);
}

/*list items*/
form {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

form a {
  color: blueviolet;
}

input[type="checkbox"] {
  position: absolute;
  margin-top: 6px;
}

input[type="checkbox"] ~ label {
  padding-left: 1.7em;
  display: inline-block;
  margin-top: 6px;
}

/* bottom bar */

#bottom-bar {
  background-color: rgb(185, 255, 232);
  padding: 5px;
  display: flex;
  align-items: top;
  justify-content: center;
}

#github-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: #000;
}

span {
  vertical-align: 5;
}

a {
  text-decoration: none;
}
