body {
  background-color: #352F44;
  margin: 0;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 350px;
  max-width: 350px;
  text-align: right;
}

::selection {
  color: white;
  background: rgb(18, 202, 33);
}

/* top bar */
#top-bar {
  /* background: linear-gradient(to bottom, rgb(170, 252, 225), white); */
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px 10px;
  color: rgb(72, 7, 133);
}
#logo {
  width: 10%;
  margin-right: 8px;
}

#title {
  background: linear-gradient(to right,white,#B9B4C7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight:bolder;
  letter-spacing: 2;
  font-size: 22px;
}

#sign-in-button {
  background-color: black;
  color: rgb(185, 255, 232);
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

/* mid section*/
#mid-section {
  padding: 0px 10px;
}

#input-el {
  width: 100%;
  padding: 10px;
  margin-top: 3px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 0;
  background-color: #5C5470;
  color: whitesmoke;
}

button {
  background:cornflowerblue;
  color: white;
  font-size: 11px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  margin: 6px 0px 0px 2px;
  font-weight: bold;
  width: 22%;
}

#clear-btn {
  background: #FAF0E6;
  color: blueviolet;
}

#tab-btn {
  background: blueviolet;
}

/*list items*/
form {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif; */
  text-align: left;
  margin-top: 8;
}

form a {
  color: #B9B4C7;
}

li{
  list-style-type: none;
  /* background-color:#5C5470;
  margin: 2px 0;
  padding: 3 3 6 15;
  border-radius: 15px; */
}

input[type="checkbox"] {
  position: absolute;
  margin-top: 6px;
}

input[type="checkbox"] ~ label {
  padding-left: 1.8em;
  display: inline-block;
  text-align: justify;
  max-width: 300px;
  overflow-wrap:break-word;
  margin-top: 6px;
}

/* Add a strikethrough style for completed items */
.completed {
  text-decoration: line-through;
}

/* Style for delete buttons */
.delete-btn {
  width:auto;
  background-color: transparent;
  color:tomato;
  font-weight: 100;
  border: none;
  border-radius: 0%;
  cursor: pointer;
  position: absolute;
  padding: 1px;
  padding-right: 15;
  right: 10;
  display:none; /* Hidden by default, outside the list item */
  transition: right 0.2s; /* Smooth transition effect */
}

/* Show delete button on list item hover */
li:hover .delete-btn {
  display:inline-block; /* Display on hover */
}

/* bottom bar */

#bottom-bar {
  background-color: #231f2e;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#github-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
svg{
  fill:#7b7097;
}
span {
  vertical-align: 5;
}

a {
  text-decoration: none;
  color: #7b7097;
}
